/**************************************************************************
/* javelin.css
/* $Rev: 200 $
/*************************************************************************/

/**************************************************************************
/*= General styles
/*************************************************************************/
body {
	font-family: Tahoma, Sans-Serif;
	font-size: 8pt;
	line-height: 1.25;
	min-width: 600px;
}

.disabled {
	color: #808080;
}

em {
    font-weight: bold;
}

/**************************************************************************
/*= Links
/*************************************************************************/
a {
	color: #3577C9;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;	
}

a.delete, a.delete:link, a.delete:visited, input.delete {
	color: #CC0000;
}

/**************************************************************************
/*= Link buttons
/*************************************************************************/
a.linkbutton, a.linkbutton:link, a.linkbutton:visited {
	border: 1px solid;
	border-top-color: #BFD6F1;
	border-left-color: #BFD6F1;
	border-bottom-color: #9EBCE1;
	border-right-color: #9EBCE1;
	padding: 2px 7px;
	background-color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

a.linkbutton:hover {
	background-color: #BFD6F1;
	color: #000;
	text-decoration: none !important;
}

/**************************************************************************
/*= Form Elements 
/*************************************************************************/
/* General button styles */
input.button,
input[type="button"] {
    font-weight: bold;
    height: 2.6em;
    padding: 0 1.25em;
}

input.button.small {
    width: 7.5em;
}

/**************************************************************************
/*= Action List 
/*************************************************************************/
ul.action-list {
	padding-top: 10px;
	border-bottom: 1px solid #EAEAEA;
}

ul.action-list h2  {
	color: #666;
	font-size: 14pt;
	font-family: Arial, Helvetica, Sans-Serif;
	/* The characters in the header text are shifted to the right about
	2px because of the larger font size.  This will fix it but is
	kind of a hack because negative margins may have unpredictable behavior.
	margin-left: -2px;
	*/
}

ul.action-list li {
	padding-bottom: 10px;
}

ul.action-list em {
	font-weight: bold;
}

/**************************************************************************
/*= Action Box 
/*************************************************************************/
.action-box {
	background: #FCFCEE url(images/bg-rightcolumn.png) repeat-x scroll 0 0; 
	border: 1px solid #E9E991;
	width: 180px;
	padding: 0 15px;		
}

.action-box ul.action-list h2 {
	color: #727206;
}

ul.last-set.action-list {
	border-bottom: none;
	margin-bottom: 5px;
}

/**************************************************************************
/*= Link & Linkbutton Menus
/*************************************************************************/
ul.link-menu li {
	display: inline;
	background: url(images/divider.gif) center right no-repeat;
	margin-right: 10px;
	padding-right: 8px;
}

ul.link-menu li.last-one {
	background: none;
	margin-right: 0px;
	padding-right: 0px;
}

ul.linkbutton-menu li {
	display: inline;
	margin-right: 7px;
}

/**************************************************************************
/*= Navigation header, tabs, and breadcrumbs
/*************************************************************************/
#top-nav #top-nav-main {
	background: #306BB5 url(images/javelin-header-bg.gif) 100% 0 repeat-x;
	height: 60px;
	color: #FFF;
	position: relative;
}

#top-nav #top-nav-main img {
	position: absolute;
	right: 0;
}

#top-nav #top-nav-main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	position: absolute;
	bottom: 0;
	left: 10px;
}

#top-nav #top-nav-main li {
	display: inline-block;
	border: 1px solid #274E7F;
	background: #749ED1 url(images/nav-tab-bg.gif) 100% -100px no-repeat;
	/* Setting a negative right margin collapses the tabs so that they are 1px apart instead of 3px
	margin-right: -2px;
	*/
}

#top-nav #top-nav-main li a {
	display: block;
	background: #749ED1 url(images/nav-tab-bg.gif) 0 -100px no-repeat;
	color: #FFF;
	padding: 6px 20px 6px 19px;
	text-align: center;
	/* Setting the width creates navigation tabs with fixed widths
	width: 7em;
	*/
}

#top-nav #top-nav-main li a:hover {
	background-position: 0 -200px;	
}

#top-nav #top-nav-main li.current {
	border: 1px solid #274E7F;
	border-bottom: 1px solid #FEFEFE;
	background-color: #EEE;
	background-position: 100% 0;
}

#top-nav #top-nav-main li.current a, #top-nav #top-nav-main li.current a:hover {
	background-position: 0 0;
	color: #666;
	background-color: #EEE;
}

#top-nav #top-nav-sub {
	position: relative;
	background: #eee url(images/nav-subheader-bg.gif) 0 100% repeat-x;
	color: #666;
	/* The 9em padding on the right side is to provide space for the
	absolute-positioned Help and About links
	*/
	padding: 6px 9em 8px 20px;
}

ul.breadcrumb li {
	display: inline;
	margin-right: 7px;
	padding-right: 11px;
	background: url(images/breadcrumb-arrow.gif) center right no-repeat;
}

ul.breadcrumb li.current {
	background: none;
	/* Makes sure that the current text is gray even if the breadcrumb
	style is used outside of the navigation header.
	*/
	color: #666;
}

#top-nav #top-nav-sub #top-nav-sub-right {
	position: absolute;
	top: 6px;
	right: 15px;
}

/**************************************************************************
/*= About Box
/*************************************************************************/
#about-box {
	position: relative;
	width: 424px;
	/* Setting the height on this container does not affect the rendering.
	However it is here as a reminder of how big the About dialog should be.
	*/
	height: 204px;
}

#about-box #version {
	position: absolute;
	color: #000;
	top: 112px;
	right: 22px;
}

#about-box div#footer {
	position: relative;
	background-color: #E6E6E6;
	color: #666;
	height: 44px;
}

#about-box div#footer p#email-support {
	position: absolute;
	top: 6px;
	left: 8px;
}

#about-box div#footer p#copyright {
	position: absolute;
	top: 24px;
	left: 8px;
}

/**************************************************************************
/*= Floating container
/*************************************************************************/
div.floating-container {
	background-image: url(images/floating-container-bg.jpg);
	background-repeat: repeat-x;
	background-position: 0 0;
	border: 1px solid #E3E3E3;
}

div.floating-container div.header {
	border-bottom: 1px solid #E3E3E3;
	border-top: medium none;
	color: #333333;
	font-weight: bold;
	padding: 7px 45px 7px 10px;
}

div.floating-container div.content {
	padding: 15px;
}

/**************************************************************************
/*= Big link
/*************************************************************************/
p.big-link-text {
	max-width: 400px;
	margin: 20px auto 10px auto;
	text-align: center;
}

p.big-link {
	max-width: 400px;
	margin: 0 auto 25px auto;
	text-align: center;
	font-size: 14pt;
	font-family: Arial, Helvetica, Sans-Serif;
}

/**************************************************************************
/*= Anchored footer
/*************************************************************************/
div.anchored-footer-scroll-area {
    position: absolute;
    min-width: 26em;
    top: 0;
    right: 0;
    bottom: 5.5em;
    left: 0;
    overflow: auto;
}

div.anchored-footer {
	position: absolute;
	min-width: 26em;
	left: 0;
	right: 0;
	bottom: 0;
	height: 5.5em;
	overflow: hidden;
	background: #F5F5F5 url(images/anchored-footer-bg.gif) repeat-x;
}

div.anchored-footer.highlight {
    background: #FFFFCC url(images/anchored-footer-highlight-bg.gif) repeat-x;
}

div.anchored-footer input.button,
div.anchored-footer input[type="button"] {
    position: relative;
    float: left;
    top: 1.5em;
    margin-left: 0.8em;
}

/* Right-hand message list styles */
div.anchored-footer div.message-list-container {
    display: table;
    position: absolute;
    left: 1em;
    right: 0;
    height: 100%;
}

div.anchored-footer.zero-buttons div.message-list-container {
    left: 0.75em;
}

div.anchored-footer.one-button div.message-list-container {
    left: 9.25em;
}

div.anchored-footer.two-buttons div.message-list-container {
    left: 17.5em;
}

div.anchored-footer.three-buttons div.message-list-container {
    left: 26em;
}

div.anchored-footer div.message-list-container ul.message-list {
    display: table-cell;
    vertical-align: middle;
}

div.anchored-footer div.message-list-container ul.message-list li {
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

div.anchored-footer div.message-list-container ul.message-list li p {
    white-space: normal;
    max-height: 5em;
    margin-right: 2em;
}

/* Status classes */
div.anchored-footer ul.message-list.status-error,
div.anchored-footer ul.message-list li.status-error {
    background: url(images/error.gif) center left no-repeat;
    padding-left: 20px;
}

div.anchored-footer ul.message-list.status-warning,
div.anchored-footer ul.message-list li.status-warning {
    background: url(images/warning.gif) center left no-repeat;
    padding-left: 20px;
}

div.anchored-footer ul.message-list.status-unknown,
div.anchored-footer ul.message-list li.status-unknown {
    background: url(images/unknown.gif) center left no-repeat;
    padding-left: 20px;
}

div.anchored-footer ul.message-list.status-ok,
div.anchored-footer ul.message-list li.status-ok {
    background: url(images/ok.gif) center left no-repeat;
    padding-left: 20px;
}

/**************************************************************************
/*= Tables
/*************************************************************************/
table.table-default {
	border-bottom: 1px solid #666;
}

table.table-default th {
	border-style: hidden;
	border-bottom: 1px solid #666;
	font-weight: bold;
	white-space: nowrap;
	color: #808080;
	padding: .35em 1em;
	height: 2em;
}

table.table-default td {
	border-style: none hidden none hidden;
	border-bottom: 1px solid #DDDDDD;
	vertical-align: middle;
	padding: 0.35em 1em;
	height: 2em;
}

table.table-default tr.last-row td {
	border-bottom: none;
}

table.table-default tr.selected-row {
	background-color: #E7EFFF;
}

/* table-default column text-align styles by data type */
table.table-default td, 
table.table-default th {
	text-align: center;
}

table.table-default td.col-long, 
table.table-default th.col-long {
	text-align: left;
}

table.table-default td.col-numeric, 
table.table-default th.col-numeric {
	text-align: right; 
}

table.table-default td.col-date, 
table.table-default th.col-date {
	text-align: center;
}

table.table-default td.col-checkbox, 
table.table-default th.col-checkbox {
	width: 16px;
}

/* Row modifications (alt, taller) */
table.table-default tr.row-alt {
    background-color: #FAFAFA;
}

table.table-default.row-taller td {
    height: 2.5em;
}

/* table-pager */
table.table-pager td a,
table.table-pager td span {
    display: block;
    text-align: center;
    padding: 1px 4px;
    border: 1px solid #C3DAF6;
    margin-top: 2px; 
}

table.table-pager td span {
	background: #FFFFCD url(images/yellow-gradiant-top-down-bg) repeat-x;
	color: #727206;
	border: 1px solid #DDD;
	border-color: #CCCC33;
}

table.table-pager {
    border-spacing: 2px;
}
