.icon-add, .icon-calendar, .icon-duplicate, .icon-close, .icon-delete, .icon-download, .icon-edit,
.icon-error, .icon-error-nohover, .icon-folder-close, .icon-folder-open, .icon-group, .icon-info,
.icon-info-nohover, .icon-lock, .icon-ok, .icon-ok-nohover, .icon-search, .icon-star, .icon-preview,
.icon-printer, .icon-help, .icon-upload, .icon-user, .icon-warning, .icon-warning-nohover,
.icon-minimize, .icon-expand {
    background: url(../img/icons-common-small.png) no-repeat top left;
    text-indent: -1999px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.icon-add { background-position: 0 0; }
.icon-add:hover { background-position: -66px 0; }
.icon-calendar { background-position: -132px 0; }
.icon-calendar:hover { background-position: -198px 0; }
.icon-duplicate { background-position: -396px 0; }
.icon-duplicate:hover { background-position: -462px 0; }
.icon-close { background-position: -528px 0; }
.icon-close:hover { background-position: -594px 0; }
.icon-delete { background-position: -792px 0; }
.icon-delete:hover { background-position: -858px 0; }
.icon-download { background-position: -924px 0; }
.icon-download:hover { background-position: -990px 0; }
.icon-edit { background-position: -1056px 0; }
.icon-edit:hover { background-position: -1122px 0; }
.icon-error, .icon-error-nohover { background-position: -1188px 0; }
.icon-error:hover { background-position: -1254px 0; }
.icon-folder-close { background-position: -1320px 0; }
.icon-folder-close:hover { background-position: -1386px 0; }
.icon-folder-open { background-position: -1452px 0; }
.icon-folder-open:hover { background-position: -1518px 0; }
.icon-group { background-position: -1584px 0; }
.icon-group:hover { background-position: -1650px 0; }
.icon-info { background-position: -1716px 0; }
.icon-info:hover { background-position: -1782px 0; }
.icon-info-nohover { background-position: -1782px 0; }
.icon-lock { background-position: -1848px 0; }
.icon-lock:hover { background-position: -1914px 0; }
.icon-ok , .icon-ok-nohover { background-position: -264px 0; }
.icon-ok:hover { background-position: -330px 0; }
.icon-search { background-position: 0 -66px; }
.icon-search:hover { background-position: -66px -66px; }
.icon-star { background-position: -660px 0; }
.icon-star:hover { background-position: -726px 0; }
.icon-preview { background-position: -364px -66px; }
.icon-preview:hover { background-position: -430px -66px; }
.icon-printer { background-position: -496px -66px; }
.icon-printer:hover { background-position: -562px -66px; }
.icon-help { background-position: -752px -66px; }
.icon-help:hover { background-position: -818px -66px; }
.icon-upload { background-position: -884px -66px; }
.icon-upload:hover { background-position: -950px -66px; }
.icon-user { background-position: -1016px -66px; }
.icon-warning, .icon-warning-nohover { background-position: -1148px -66px; }
.icon-user:hover { background-position: -1082px -66px; }
.icon-warning:hover { background-position: -1214px -66px; }
.icon-minimize { background-position: -132px -66px; width: 8px; height: 8px; }
.icon-minimize:hover { background-position: -190px -66px; width: 8px; height: 8px; }
.icon-expand { background-position: -248px -66px; width: 8px; height: 8px; }
.icon-expand:hover { background-position: -306px -66px; width: 8px; height: 8px; }
